<div class="login-container">
    <h1>Login</h1>
    <form action="/auth/login" method="POST" autocomplete="off">
        <input type="email" name="email" placeholder="Email" autocomplete="email" required>
        <input type="password" name="password" placeholder="Password" autocomplete="new-password" required>
        <button type="submit">Login</button>
    </form>
    <a href="/auth/register">Don't have an account? Register here</a>
</div>