<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <h1>Welcome to my Blogging Platform!</h1>
    <p>This page was rendered using an EJS template.</p>
    <h2>All Posts</h2>
    <% if(posts.length===0){ %>
        <p>No posts available</p>
        <%} else{%>
            <ul>
                <% posts.forEach(post=> { %>
                    <li>
                        <strong>
                            <%=post.title %>
                        </strong>
                        -<%=post.content %>
                    </li>
                    <% }) %>
            </ul>
            <% } %>
</body>

</html>